<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fgrsna@qnfpurx.arg</string>
	<key>contactName</key>
	<string>Stefan Daschek</string>
	<key>description</key>
	<string>MathJax support for the Markdown bundle.</string>
	<key>name</key>
	<string>Markdown (MathJax)</string>
	<key>uuid</key>
	<string>8606BA31-CDB9-4B82-A1D2-34E5AA91C6F9</string>
</dict>
</plist>
